@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>demo1</title>
</head>
<body>
    <div>
        欢迎进入
    </div>
</body>
</html>
