@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height: 100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>柱状图</title>
    
    <script src="~/echarts-2.2.7/echarts-all.js"></script>
    
</head>
  <body>
   
  </body>

</html>
